/* GUTMANN CSS */
::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

/* -------------------------------Für NICHT Mobile devices--------------------------------------- */

.mobileHide {
  display: inline;

}

body {
  background: url('../images/InkedMetaslider_Tankstelle13.jpg') no-repeat center;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.page {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  background-color: white;
  overflow-y: scroll;
  max-height: 70vh;
  min-height: 70vh;

}

#gutscheinTabContainer {
  background-color: #ffffff;
  position: absolute;  
  z-index: 10;
  border: #000000 solid 1px;
  border-radius: 3px;
  color: #000000;
  width: 400px;
}

#homeTabButton {
  background: #fff;
  font-size: 20px;
  max-width: 400px;
  top: 80%;
  z-index: 100;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.tab-pane>.card {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.fa-refresh {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0); 
  z-index: 10000;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px solid #fe1a42;
  color: #fe1a42;
  border-radius: 5px;
  padding: 3px;
}

.fa-spin {
  background-color: rgba(0, 0, 0, 0); 
  z-index: 10000;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px solid #fe1a42;
  color: #fe1a42;
  border-radius: 30px;
}

.refreshing {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0); 
  z-index: 10000;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px solid #fe1a42;
  color: #fe1a42;
  border-radius: 30px;
  margin-top: 1%;
  margin-bottom: 1%;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.navbar {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  min-height: 58px;
}

#navbarLogo {
  display: none;
}

/* Smartphone Portrait and Landscape */
@media only screen and (min-device-width : 10px) and (max-device-width : 1200px) {
  .mobileHide {
    display: none;

  }

  body {
    background: none;
    min-height: auto !important;
    height: auto !important;
    overflow: auto !important;
  }

  .page {
    padding-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    background-color: white;
    max-height: 100%;
    min-height: 100% !important;
    overflow-y: initial;
  }

  #gutscheinTabContainer {
    background-color: #ffffff;
    position: absolute;   
    z-index: 10;
    border: #000000 solid 1px;
    border-radius: 3px;
    color: #000000;
    width: 100% !important;
    max-width: 100% !important;
  }

  #homeTabButton {
    background: #cdd4d45b !important;
    font-size: 20px;
    position: fixed;
    top: 80%;
    z-index: 100;
    padding: 0px;
    margin: 0px;
    overflow-x: auto;
    width: 100% !important;
    /* um im landscape modus dem Streifen volle länge zu gewähren */
    max-width: 100% !important;
  }

  .tab-pane>.card {
    margin-left: auto;
    margin-right: auto;
    width: 90vw !important;
  }
 
  .fa-refresh {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);  
    z-index: 10000;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid #fe1a42;
    color: #fe1a42;
    border-radius: 5px;
    padding: 3px;
  }

  .fa-spin {
    background-color: rgba(0, 0, 0, 0);
    z-index: 10000;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid #fe1a42;
    color: #fe1a42;
    border-radius: 30px;
  }

  .refreshing {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10000;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid #fe1a42;
    color: #fe1a42;
    border-radius: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .navbar {
    max-width: 100%;
  }
}


.blurr {
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;
}
#abortButton {
  height: 150px;
  width: 150px;
  border-radius: 120px;
  position: absolute;
  top: -151%;
  color: #000 !important; 
  z-index: 10; 
  background-color: #fe1a42 !important;
  box-shadow: 0px 0px 20px 10px #fe1a42;
}

#abortButtonText {
  font-size: large;
  width: fit-content;
  position: absolute;
  top: 40%;
  left: 15%;
}

.ring {
  z-index: 10;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  color: #fe1a42;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fe1a42;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.ring:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fe1a42;
  border-right: 3px solid #fe1a42;
  border-radius: 50%;
  animation: animateCircle 2s linear infinite;
}

#span1 {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate1 2s linear infinite;
}

#span1:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fe1a42;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #fe1a42;
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1800deg);
  }
}

@keyframes animate1 {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(2025deg);
  }
}

/* -----------------------------------Für Mobile-Devices------------------------------------------ */




.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}


.navbar {
  background-color: #aaadb6 !important;

}

.navbar-brand {
  background-color: #aaadb6 !important;
  color: #aaadb6 !important;
  padding: 0px;
}

#syncButton{
  margin-left: 24% !important;
}

.navbar-toggler {
 
  margin-left: 14% !important;

}

.navbar.navbar-dark .navbar-toggler-icon {
  background-color: #fe1a42 !important;
  border-radius: 5px;

}


#navbarOTAS ul li a {
  color: #000000 !important;

}



/* --------------------------------------------loginSection------------------------------------------------ */
#loginBody {
  padding-left: 5%;
  padding-right: 5%;
}

#loginButton {
  padding-top: 15%;

}

.loginfelder {
  margin-top: 4% !important;
  margin-bottom: 2% !important;
}

#loginButton button {
  background-color: #e7e8e9 !important;
  color: #fe1a42 !important;
  max-height: 40px;


}

#loginButtonTextDiv {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', 'sans-serif' !important;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 300;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  text-transform: uppercase;
  color: #fe1a42 !important;
}



/* --------------------------------------------IforgotMyPasswordSection------------------------------------------------ */

#forgotPageHeader {
  font-size: 20px;
}

#forgotPageHeader i {
  float: left;
  position: relative;
  top: 9px;
  left: 4%;
  font-size: 31px !important;
  color: #ff9;
}

#iForgotPassText {
  font-size: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-top: 15%;
  padding: 5px;

}

#iForgotInputRow {
  margin-top: 8%;
  margin-bottom: 14%;
}



/* --------------------------------------------registerSection------------------------------------------------ */
#registerButton {
  padding-top: 3%;
  padding-left: 0px;
  padding-right: 0px;
}

#registerBody {
  margin-left: 4%;
  margin-right: 4%;
}

.info-color {
  max-height: 36px;
  background-color: #e7e8e9 !important;
  color: #fe1a42 !important;
  margin: 0px;
  padding: 0px !important;
  font-size: 25px;
  font-family: 'Roboto', 'sans-serif' !important;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 300;
  line-height: 40px;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  text-transform: uppercase;
}

#registerButton button {

  background-color: #e7e8e9 !important;
  color: #fe1a42 !important;
  padding-left: 0px;
  padding-right: 0px;
  max-height: 40px;


}

#registerButtonTextDiv {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', 'sans-serif' !important;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 300;
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  text-transform: uppercase;
  /* color: #fe1a42 !important; */

}

#md-formReg {
  margin-top: 16%;
}


/* --------------------Home Page---------------------- */

#kundenKartefront {
  /* margin-top: 10%; */
  display: flex;
  justify-content: center;
  content:  url("../images/Gutmann_KundenKarteFront.png");

}

#kundenkartenFrontText {
  color: white;
  list-style-type: none;
  padding-left: 0px;
  margin-left: 30%;
  margin-top: -11%;
  background-color: #21252994;
  border-radius: 4px;
  padding-left: 5%;
  padding-right: 5%;


}

@media only screen and (min-device-width : 10px) and (max-device-width : 321px) {

  #karteName,
  #karteNummer,
  #plate {
    font-size: 1em !important;

  }

  #forgotPageHeader {
    font-size: 15px;
  }

  #forgotPageHeader i {
    float: left;
    position: relative;
    top: 9px;
    left: 4%;
    font-size: 31px !important;
    color: #ff9;
  }

  #iForgotPassText {
    font-size: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 15%;
    padding: 5px;

  }
}

#karteName,
#karteNummer,
#plate {
  margin-bottom: 0px;
  font-size: 1.4em;
  font-weight: 350;

}

#kundenKarteBack {
  margin-top: 1%;
  display: flex;
  justify-content: center;

}



.gm-style>div+iframe+div {

  z-index: -100000 !important;
}

.nav-pills {
  width: 120%;
  overflow-x: hidden;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px;
  list-style: none;
  min-height: 60px;
  border: solid 1px #cac0c09e;
}

#kundenKarteMaske {
  border: 1px solid #000000;
  border-radius: 10px;
}

#stationenTAButton {
  color: #fe1a42 !important;
  border-color: #000 !important;
  width: 25%;
  margin: 0px;
  padding: 0px;
  width: 160%;
  padding: 0px;
  margin: 0px;
}

#stationenTAButton>i {
  border: #000 solid 2px;
  border-radius: 60%;
  padding: 13px;
  background-color: #a5a6aa !important;
}

.btn {
  border-radius: 45px;
}


/* ------------------------------.StaionenPage Styling ----------------------------------------------------*/

#stationenSection {
  background: #f3f2f2;

}

.stationenHeader {
  border: 1px solid #000000;
  border-radius: 5px;
  background: url("../images/InkedMetaslider_Tankstelle13.jpg") no-repeat center;
  background-size: cover;
  color: #fe1a42;
  text-shadow: 2px 2px 2px #f3f2f2;

}



.small {
  margin: 0px;
  padding: 0px;
}






/* ----------------------GutscheinSection------------------------ */



#alteGutscheinTab {
  max-width: 50%;
  border-left: #000000 solid 1px;
}

#alteGutscheinTab p {
  background-color: #ffffff;
  margin: 0px;
}

#aktuelleGutscheinTab {
  max-width: 50%;
}

.clickedTab {
  color: #ffffff;
  background-color: #2330e2 !important;
}

#aktuelleGutscheinTab p {
  margin: 0px;
}

#gutscheineTrennlinie {
  font-size: 20px;
  min-width: 100%;
  margin-top: 0px;
  padding-top: 8px;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1440deg);
  }
}

#emptyVoucherId {
  font-size: 30px;
  background-color: #a5a6aa;
  color: #fe1a42;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 40%;
  border-radius: 7px;
}

#emptyRedeemedVoucherId {
  font-size: 30px;
  background-color: #a5a6aa;
  color: #fe1a42;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 40%;
  border-radius: 7px;
}

/* -------------------------------------Gutschein Loop -------------------------------- */
.fa-pull-right {
  margin-left: 0px !important;
}

#gutscheinQr {
  max-width: 100px;
  max-height: 100px;
  padding: 0px;
}

canvas {
  width: 100px;
  height: 100px;
}


#gutscheinBarcode {
  max-width: 74%;
}

.btn-link {
  font-size: 20px;
  min-width: 100%;
  margin-top: 0px;
  padding-top: 8px;

}

#qrcode {

  margin-left: auto;
  margin-right: auto;
}


#gutscheinCode {
  display: flex;
  justify-content: center;
}


p {
  text-align: center;

}

#accordionListe {
  position: relative;
  top: 26px;
}

#accordionListe>.card>.card-header {
  border-radius: 63px 3px 63px 0px !important;
  max-height: 60px;
}

#accordionListeALT {
  display: none;
  position: relative;
  top: 26px;
}

#accordionListeALT>.card>.card-header {
  border-radius: 63px 3px 63px 0px !important;
  max-height: 60px;
}

#gutscheinDaten {

  width: 50%;
  margin: 0px;
  padding: 0px;
  display: contents;
  text-align: center;
}

.col-sm-5 {
  width: 50%;

}

#nav-tabContent {
  margin-top: 5px;
}



.cardImages,
.card-img-top,
.allMaps {
  max-width: -webkit-fill-available;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
}

.card .card-body .card-title a {
  color: #fe1a42 !important;
}

/* ------------------------------------------------------Meine Daten------------------- */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: -62%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #fe1a42;
}

input:focus+.slider {
  box-shadow: 0 0 1px #fe1a42;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#meineDatenFeldHeader {
  text-align: start;
  text-decoration: underline;
}


#myDataButton {
  padding-top: 3%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #fe1a42 !important;
  color: #fff !important;
  padding-left: 0px;
  padding-right: 0px;
  max-height: 40px;
}

#myDataBody {
  margin-left: 4%;
  margin-right: 4%;
  border: 1px #000000 solid;
  border-radius: 8px;
  margin-top: 6%;
  margin-bottom: 19%;
}

#myDataButtonTextDiv {
  margin: 0px;
  padding: 0px;
  /* font-size: 40px; */
  font-family: 'Roboto', 'sans-serif' !important;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 300;
  /* line-height: 48px; */
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  text-transform: uppercase;
  color: #fff !important;
}

.input-wrapper {

  position: relative;
}

.input-wrapper>i {
  position: absolute;
  color: #000;
  top: 1%;
  left: 91%;
  z-index: 100;
  padding: 10px;
}

.myDataInputClearIcons {
  display: none;
}

#doNotsaveButton {
  background-color: red;
  color: white;
}

#saveButton {
  background-color: green;
  color: white;
}

#myPasswordChangeButton {
  background-color: #790303;
  color: #fff;
  margin-bottom: 40%;
}



/* ---------------------WaschPass Section----------------------------- */

#nochFehlendeWaschPass {
  text-align: center;
  font-size: 60px;
  font-weight: 400 !important;
  text-decoration: underline dotted;
  margin-bottom: 13px;
  background-color: #e7e8e9;
  padding: 5px;
  border-radius: 8px;
}

#nochFehlendeWaschPass::before {
  content: "Noch  ";
  font-size: 0.4em;
  display: inline-block;
  font-weight: 400;
  background-color: #e7e8e9;
  vertical-align: 13px;
  padding: 5px;
  border-radius: 8px;
  color: #fe1a42;
}

#nochFehlendeWaschPass::after {
  content: "  bis zum Gutschein";
  font-size: 0.4em;
  display: inline-block;
  font-weight: 400;
  background-color: #e7e8e9;
  vertical-align: 13px;
  padding: 5px;
  border-radius: 8px;
  color: #fe1a42;
}

/* -------------------------------------------shop Section--------------------- */

.shop-card {
  padding: 5% 0% 5% 5%;
  
  }
  
  #shopSumme {
    text-align: center !important;
    font-size: initial !important;
    padding: 1% !important;
  }
  
  #shopSumme::after{
    content: ' €'
  }
  
  #summeCard{
    margin-top: 3%;
    text-align:end;
    font-size: 1.4em;
    font-weight: 400;
  
  }
  
  #bezahlenButton {
    padding-top: 3%;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fe1a42;
    color: #fff;
    padding-left: 0px;
    padding-right: 0px;
    max-height: 40px;
  }
  
 #BezahlenButtonTextDiv {
  margin: 0px;
  padding: 0px;
  /* font-size: 40px; */
  font-family: 'Roboto', 'sans-serif' !important;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 300;
  /* line-height: 48px; */
  overflow-wrap: break-word;
  text-size-adjust: 100%;
  text-transform: uppercase;
}

.bezahlenButtonDISable {
  background-color: #fe1a42 !important;
  color: #000 !important;
}


  /* ----------------------------------------------------------------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------ACTIVATE_OTAS-------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  #act_Text {
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    font-size: 30px;
  }

  #act_TextDescription{

    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    font-size: 30px;
  }

#act_dance {
  text-align: center;
  max-width: 700px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

.act_mainTheme {
  background-color:#a5a6aa;
  border:1px solid #000;
  color:#fe1a42;
}