  /* ----------------------------------------------------------------------------------------------------------------------------------------------------------------
  ---------------------------------------------------------PAY-RESPONSE-------------------------------------------------------------------------------------------
  ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
  p {
    margin: 0px;
  }

  .jumbotron {
    margin: 0.2em !important;
    text-align: center !important;
  }

  .jumboWait {
    background-color: beige;
    border: #000 1px solid;
    color: #000;
  }

  .jumboError {
    background-color: #df4949;
    border: #000 1px solid;
    color: #000;
    font-size: xx-large;
  }

  .jumboSuccess {
    background-color: #84e07b;
    border: #000 1px solid;
    color: #000;
  }

  .jumboDefault {
    background-color: #96bff5;
    border: #000 1px solid;
    color: #000;
  }

  .jumboDefault::after {
    content: "Übertragung ergab ein unerwartetest Ergebnis. Bitte machen Sie einen ScreenShot und kontaktieren Sie uns mit dem Fehlercode, der hier angezeigt wird. Wir kümmern uns darum"
  }


  .bodyWait {
    border: #245392 solid 20px;
  }

  .bodyError {
    border: #df4949 solid 20px;
  }

  .bodySuccess {
    border: #84e07b solid 20px;
  }

  .bodyDefault {
    border: #96bff5 solid 20px;
  }


  #cardSuccess {
    padding: 1em;
    background-color: #eaeaea;
    white-space: pre;
  }

  #briefKopf {
    background-color: #0023b2;
    color: #fff !important;
    padding: 2px 4px 0px 4px;
    border-radius: 4px;
  }

  #zahlungsBest {
    background-color: #ffffff6b;
    border-radius: 4px;
  }

  #zahlungsFooter {
    border: 4px #0023b2 solid;
    border-radius: 8px;
    background: url('/src/images/OTAS_4C_gross.jpg') center no-repeat;
    background-size: contain;
    height: 99px;
  }

  #screenShotButton {
    position: fixed;    
    bottom: 20px;    
    right: 4vw !important;
    z-index: 99;
    border: none;   
    outline: none;   
    background-color: #0023b2;    
    color: #fff;   
    padding: 15px;   
    border-radius: 45px;    
    font-size: 0px;    
    text-shadow: 4px 5px 4px black;


  }

  .flashOn {    
    animation-name: flash;
    animation-duration: 300ms;
  }
  @keyframes flash {
    from {opacity: 0;}
    to {opacity: 1;}
  }