﻿body{
    margin-top:51px;
}
label {
    vertical-align: sub;
}

p {
    text-align: center;
}


.jumbotron {
    background-color: coral;
    background: url(../Images/OTAS_4C_gross.jpg) no-repeat center;
    background-size: contain;
    font-size: x-large;
}
/* ------------------------------------- Register Section ------------------------------------------------------------*/
.registerInputLabel {
    text-align: left;
    max-width: 100%;
    margin: 5px 0px 5px 0px;
    height: 2em;

}

#ui-datepicker-div {
    background-color:#000;
    color:#fff;
    padding-left:5%;
    padding-right:5%;

}
/* ------------------------------------- /Register Section ------------------------------------------------------------*/
/* ---------------------------------------- Login Section --------------------------------------------------------------*/
.loginInput {
    text-align: center;
    max-width: 100%;
    margin: 5px 0px 5px 0px;
    height: 2em;
}

/* ---------------------------------------- /Login Section --------------------------------------------------------------*/




