﻿<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
    <meta name="PWAtest" content="connected with friends" />
    <title>PWAtest</title>

    <!-- Bootstrap 4 CSS-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- FontAwesome CSS-->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!--Toastr CSS-->
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <!--manifest-->
    <link rel="manifest" href="~/manifest.json">
    <!--eigene CSS-->
    <link href="~/Content/indexPWA.css" rel="stylesheet" />

    <!--JQUERY-->
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <!--Bootstrap Tooltips-->
    <script type="text/javascript" src="~/Scripts/umd/popper.js"></script>
    <script type="text/javascript" src="~/Scripts/umd/popper.min.js"></script>
    <!--Bootstrap JavaScript-->
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <!--TOASTR JavaScript-->
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
</head>
<body>

    <div class="jumbotron">
        <p>
            Dies ist ein test ....


        </p>
    </div>

    <!-- ----------------------------------------------------------------------- Registration Section -------------------------------------------- -->
    <div id="registrationSection" class="page" style="display:none;">
        <div class="container">
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6 registerInputLabel"><label for="regAnredeInput">Anrede</label></div>
                        <div class="col-6">
                            <select class="form-control form-control-sm registerInput" name="regAnredeInput" id="regAnredeInput">
                                <option value="Bitte auswählen" selected>--Bitte auswälen--</option>
                                <option value="Herr">Herr</option>
                                <option value="Frau">Frau</option>
                            </select>
                        </div>
                    </div>
                    <!--vorname-->
                    <div class="row">
                        <div class="col-6 registerInputLabel"><label for="regFirstNameInput">Vorname</label></div>
                        <div class="col-6"><input class="form-control registerInput" type="text" name="regFirstNameInput" value="" id="regFirstNameInput" required /></div>
                    </div>
                    <!--nachname-->
                    <div class="row">
                        <div class="col-6 registerInputLabel"><label for="regSurnameInput">Nachname</label></div>
                        <div class="col-6"><input class="form-control registerInput" type="text" name="regSurnameInput" value="" id="regSurnameInput" required /></div>
                    </div>
                    <!--geburtsdatum-->
                    <div class="row">
                        <div class="col-6 registerInputLabel"><label for="regDoBInput">Geburtsdatum</label></div>
                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" class="form-control registerInput" id="regDoBInput" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary regDoButton" id="regDoButton" type="button" onclick="mydatePickerShow();"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <!--strasse-->
                    <div class="row">
                        <div class="col-6 registerInputLabel"><label for="regStreetInput">Adresse</label></div>
                        <div class="col-6"><input class="form-control registerInput" type="text" name="regStreetInput" value="" id="regStreetInput" required /></div>
                    </div>
                    <!--zip-->
                    <div class="row">
                        <div class="col-6 registerInputLabel"><label for="regZipInput">PLZ</label></div>
                        <div class="col-6"><input class="form-control registerInput" type="text" name="regZipInput" value="" id="regZipInput" required /></div>
                    </div>
                    <!--ort-->
                    <div class="row">
                        <div class="col-6 registerInputLabel"><label for="regOrtInput">Ort</label></div>
                        <div class="col-6"><input class="form-control registerInput" type="text" name="regOrtInput" value="" id="regOrtInput" required /></div>
                    </div>
                    <!--land-->
                    <div class="row">
                        <div class="col-6  registerInputLabel">
                            <label for="regLandInput">Land</label>
                        </div>
                        <div class="col-6">
                            <select id="regLandInput" class="form-control form-control-sm registerInput">
                                <option value="Bitte auswählen" selected>--Bitte auswälen--</option>
                                <option>Österreich</option>
                                <option>Deutschland</option>
                                <option>Schweiz</option>
                            </select>
                        </div>
                    </div>
                    <!--telefonnummer-->
                    <div class="row">
                        <div class="col-6"><label for="regTelInput">Telefonnummer</label></div>
                        <div class="col-6"><input class="form-control registerInput" type="text" name="regTelInput" id="regTelInput" required></div>
                    </div>
                    <!--email-->
                    <div class="row">
                        <div class="col-6 registerInputLabel"><label for="regEmailInput">E-mail</label></div>
                        <div class="col-6"><input class="form-control registerInput" type="email" name="regEmailInput" value="" id="regEmailInput" required /></div>
                    </div>
                    <div class="row">
                        <div class="col-6 registerInputLabel"><label for="regPass1Input">Passwort wählen</label></div>
                        <div class="col-6"><input class="form-control registerInput" type="password" name="regPass1Input" value="" id="regPass1Input" required /></div>
                    </div>
                    <div class="row">
                        <div class="col-6 registerInputLabel"><label for="regPass2Input">Passwort wiederholen</label></div>
                        <div class="col-6"><input class="form-control registerInput" type="password" name="regPass2Input" value="" id="regPass2Input" required /></div>
                    </div>



                    <button id="registrationButton" class="btn btn-lg btn-block" onclick="event.preventDefault();hashLocationSelector('#loginSection');">Fertig</button>
                </div>
            </form>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------- /Registration Section -------------------------------------------- -->
    <!-- ----------------------------------------------------------------------- Login Section -------------------------------------------- -->

    <div id="loginSection" class="page">
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-6 loginInput"><label for="emailInput">E-mail: </label></div>
                    <div class="col-6"><input class="loginInput" type="email" name="emailInput" value="" id="emailInput" /></div>
                </div>
                <div class="row">
                    <div class="col-6 loginInput"><label for="passInput">Passwort: </label></div>
                    <div class="col-6"><input class="loginInput" type="password" name="passInput" value="" id="passInput" /></div>
                </div>
                <button id="loginButton" class="btn-lg btn-block" onclick="loginSubmit()">Senden</button>
            </div>
            <a href="#registrationSection">Hier klicken zum registrieren.</a>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------- /Login Section -------------------------------------------- -->
    <!-- ----------------------------------------------------------------------- Home Section -------------------------------------------- -->
    <div id="homeSection" class="page" style="display:none;">
        <div class="container">
            <div>
                <p>Das ist die HomeSection der SinglePageApplication</p>
                <button class="btn btn-lg btn-block" onclick="document.location.hash='#loginSection'">Zurück</button>
            </div>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------- /Home Section -------------------------------------------- -->
    <!--Meine JavaScript-->
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    <script type="text/javascript" src="~/sw.js"></script>

</body>
</html>







